language: csharp
sudo: required
services:
 - postgresql
before_script:
  - psql -c 'create database JsonApiDotNetCoreExample;' -U postgres
mono: none
dotnet: 3.1.2
branches:
  only:
    - master
    - develop
script:
  - ./build.sh
