<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <xUnit>
    <ShowLiveOutput>true</ShowLiveOutput>
  </xUnit>
  <RunConfiguration>
    <CollectSourceInformation>true</CollectSourceInformation>
  </RunConfiguration>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <ExcludeByAttribute>ObsoleteAttribute,GeneratedCodeAttribute</ExcludeByAttribute>
          <DeterministicReport>true</DeterministicReport>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
