# https://www.jetbrains.com/help/qodana/cloud-forward-reports.html#cloud-forward-reports-github-actions

name: Qodana
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master
      - 'release/*'

jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.sha }}  # to check out the actual pull request commit, not the merge commit
        fetch-depth: 0  # a full history is required for pull request analysis
    - name: 'Qodana Scan'
      uses: JetBrains/qodana-action@v2023.3
      env:
        QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
    - name: Upload results to artifacts on failure
      if: failure()
      uses: actions/upload-artifact@v3
      with:
        name: qodana_results
        path: ${{ runner.temp }}/qodana/results
